
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.env
/bin/
!bin/console
!bin/symfony_requirements
###< symfony/framework-bundle ###

### IDE
/.idea


###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
.env.test
###< symfony/phpunit-bridge ###
